 body{
   background-color: blue;
 }
 .lorem{
    color: red;
 }
 .delete{
   background-color: red;
   color: black;
   font-weight: 800;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 5px;
   border-color: blue;
 }

 .button{
   width: 140px;
   height: 100px;
   display: flex;
   align-items: center;
   margin: auto;
   justify-content: center;

 }